<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        <table width="400">
            <tr height="50" bgcolor="gray">
                <th colspan="2">step1: id pw</td>
            </tr>
            <tr height="35", bgcolor="whitesmoke">
                <td>id:</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>pw:</td>
                <td><input type="password" name="pw"></td>
            </tr>
            <tr>
                <td>pw check:</td>
                <td><input type="password" name="pw_check"></td>
            </tr>
        </table>
        <table width="400">
            <tr height="50" bgcolor="gray">
                <th colspan="2">step2: 개인정보</th>
            </tr>
            <tr height="35" bgcolor="whitesmoke">
                <td>이름:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>이메일:</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>전화번호:</td>
                <td><input type="tel" name="phone"></td>
            </tr>
            <tr>
                <td>pw:</td>
                <td><input type="password" name="pw"></td>
            </tr>
            <tr>
                <td>pw check:</td>
                <td><input type="password" name="pw_check"></td>
            </tr>
        </table>
        <table width="400">
            <tr height="50" bgcolor="gray">
                <th colspan="2">선호도</th>
            </tr>
            <tr height="35" bgcolor="whitesmoke">
                <td>선호하는 언어:</td>
                <td>
                    <select name="language">
                        <option value="python">Python</option>
                        <option value="javascript">JavaScript</option>
                        <option value="java">Java</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>pw:</td>
                <td><input type="password" name="pw"></td>
            </tr>
            <tr>
                <td>pw check:</td>
                <td><input type="password" name="pw_check"></td>
            </tr>
        </table>
        <table width="400">
            <tr height="50" bgcolor="gray">
                <th colspan="2">적고싶은말</th>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="message" id=""></textarea>
                </td>
            </tr>
        </table>
    </form>
    <!-- 적고싶은말 -->
    <!-- 초기화 버튼 -->
    <input type="reset" value="초기화">
    <!-- 전송 버튼 -->
    <input type="submit" value="전송">
    <!-- 체크박스 -->
    <input type="checkbox" name="check1" id="check1">
    <label for="check1">체크박스</label>
</body>
</html>